section{
    h1.tituloEntrenadores{
        margin-top:20px;
        margin-left: 45%;
        font-family: $fuenteTitulos;
        font-size: 35px;
    }  
    article.carsEntrenadores{
        margin-left: 80px;
        margin-bottom: 20px;
        div.imagenEntrenadores{
            box-shadow: -5px 5px 10px;
            height: 420px;}
        div.cajasEntrenadores{
            background-color: $colorCajas;
            p.entrenadores{ 
                color: $colorSecundario;
                font-family: $fuenteParrafos;
                font-size: 15px;
            }
        }
    }
@media only screen and (max-width: 992px){
    h1.tituloEntrenadores{
        margin-left: 100px;
    }
    article.carsEntrenadores{
            margin-left: 80px;
        }
}

@media only screen and (max-width: 420px){
    h1.tituloEntrenadores{
        margin-top: 50px;
        margin-left: 30px;
        font-size: 20px;
    }
    article.carsEntrenadores{
        margin-left: 30px;
    }
}
}